* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #1f2138;
}


body {
    font-family: "Work Sans", sans-serif;
}


.icon-01 {
    height: 40px;
    width: 50px;
}



.landing {
    background-image: url(../images/image-02.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    z-index: 0;
}

.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
}

.landing .intro-text p {
    margin-top: 15px;
    font-size: 19px;
    line-height: 1.8;
    font-style: italic;
}

.objectives {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #eee;
}

.icon-02-03 {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
    text-align: center;
    color: #676990;
}

.education {
    padding-top: 80px;
    padding-bottom: 80px;
}

.education-title {
    text-align: center;
    padding-bottom: 50px;
    font-style: italic;
    color: #1f2138;
}

.title {
    text-align: center;
    color: #1f2138;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon-02-04 {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
}

.object-paragraph {
    color: #676990;
    text-align: center;
    line-height: 1.8;
}

.about {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-paragraph {
    color: #1f2138;
    line-height: 1.8;
}

.color-change {
    color: #676990;
}

.social {
    background-color: #080916;
}

.title-color {
    padding-top: 30px;
    color: #b495bf;
}

.icons {
    text-align: center;
}
.copy {
    color: #b495bf;
    text-align: center;
    padding-top: 27px;
}

.social-one{
    text-align: center;
    color: #b495bf;
    padding-top: 20px;
    padding-bottom: 20px;
}

